/* General Flannel Display */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.flannel-title {
  margin-top: 40px;
  margin-bottom: -25px;
}
.plaid {
  margin: 0 25px 50px;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #ffffff;
}

/* Owned Flannels */
