/* General Styling */
body {
  margin: 0;
  padding: 40px 0;
  background-color: #323232;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  text-align: center;
  color: #ffffff;
}
h2 {
  text-align: center;
  color: #ffffff;
}
h3 {
  text-align: center;
  color: #ffffff;
  margin: 0 15px;
}

/* Links */
a {
  text-decoration: none;
}
a:link {
  color: #b6ffb4;
}
a:visited {
  color: #7eff79;
}
a:hover {
  color: #15ff0d;
}
a:active {
  color: #15ff0d;
}